#maintext, #single, #double {
	font-family: 'Satisfy', cursive;
}

#optiontext, #choicebtn {
	font-family: 'Great Vibes', cursive;
}

#singletext, #doubletext {
	font-family: 'Tangerine', cursive;
}

.game_cont {
	width: 640px;
	height: 480px;
	margin: 0 auto;
	border: 1px solid black;
}

#choicebtn {
	box-shadow: 0 9px #999;
}

#choicebtn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);  
}

#choicebtn:focus {
  outline: none;
}
